# IntelliJ IDEA و فایل‌های مرتبط
.idea/
*.iml

# محیط‌های مجازی پایتون
venv/
env/
.venv/

.env

# فایل‌های کش و موقت پایتون
__pycache__/
*.py[cod]
*$py.class

# فایل‌های دیتابیس لوکال
*.db
*.sqlite3

# فایل‌های لاگ و موقت
*.log
*.tmp

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db

# فایل‌های محیط توسعه
.pytest_cache/
.coverage